# Node dependencies
node_modules/

# Next.js build output
.next/
out/

# Custom Next/cache folders
.next_cache_after_layout_fix/
.next_cache_after_sidebar_cleanup/
.next_cache_before_rebuild/

# General caches
cache/
*.cache
*.pack
*.pack.gz
*.pack.gz_

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local